# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# Webpack Build
dist/
build/

# TypeScript
*.tsbuildinfo

# Environment Files
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
*.log.*

# Temporary Files
*.tmp
*.temp
*.swp
*.swo
.DS_Store
Thumbs.db

# Editor and IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage
coverage/

# Miscellaneous
*.bak
*.gho
*.ori
*.orig
*~